@import "tailwindcss";

@font-face {
  font-family: "jsans";
  src: url("../fonts/jsans/static/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "jsans-light";
  src: url("../fonts/jsans/static/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("../fonts/Outfit-Regular.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility btn-primary {
  @apply bg-indigo-950 font-jsans border-1 text-white border-indigo-950 hover:bg-transparent hover:text-indigo-950 active:bg-transparent active:bg-indigo-950 cursor-pointer;
}

@utility btn-blue {
  @apply bg-indigo-950 border-1 border-indigo-950 font-jsans mt-4 cursor-pointer active:bg-transparent active:text-indigo-950 hover:bg-transparent hover:text-indigo-950 text-white;
}

@utility category-tab-active {
  @apply p-6 rounded-xl bg-indigo-950 text-white border-1 border-indigo-950 cursor-pointer hover:scale-90 active:scale-90 text-center font-outfit;
}

@utility category-tab {
  @apply p-6 rounded-xl bg-gray-100 border-1 border-gray-200 cursor-pointer hover:scale-90 active:scale-90 text-center font-outfit;
}

@utility gradient-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-transparent from-0% via-black/70 via-50% to-black to-100%;
}

/* 
.footwears {
  background-image: url("/sneaker.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.watches {
  background-image: url("/s-watch.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.phones {
  background-image: url("/phone.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.laptops {
  background-image: url("/laptop.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gadgets {
  background-image: url("/gadgets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

@theme {
  --font-outfit: "outfit";
  --font-jsans: "jsans";
  --font-jsans-light: "jsans-light";
}
