@import "tailwindcss";

@font-face {
  font-family: "jsans";
  src: url("../fonts/jsans/static/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "jsans-light";
  src: url("../fonts/jsans/static/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("../fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: "dm";
  src: url("../fonts/DMSans-Medium.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility btn-primary {
  @apply bg-indigo-950 font-jsans border-1 text-white border-indigo-950 hover:bg-transparent hover:text-indigo-950 active:bg-transparent active:bg-indigo-950 cursor-pointer;
}

@utility btn-blue {
  @apply bg-indigo-950 border-1 border-indigo-950 font-jsans mt-4 cursor-pointer active:bg-transparent active:text-indigo-950 hover:bg-transparent hover:text-indigo-950 text-white;
}

@utility header-link-active {
  @apply border-b-2 pb-1;
}

@utility gradient-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-transparent from-0% via-black/70 via-50% to-black to-100%;
}

@utility product-gradient-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-transparent from-0% via-black/60 via-60% to-black to-100%;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

.dyu {
  color: rgb(22, 22, 22);
}

@theme {
  --font-outfit: "outfit";
  --font-jsans: "jsans";
  --font-jsans-light: "jsans-light";
  --font-dm: "dm";
  --color-dark: rgb(10,10,10);
}
