@import "tailwindcss";

@font-face {
  font-family: "playfair";
  src: url("../fonts/Playfair/static/Playfair_144pt-Medium.ttf");
}

@font-face {
  font-family: "playfair-bold";
  src: url("../fonts/Playfair/static/Playfair_144pt-Bold.ttf");
}

@font-face {
  font-family: "jsans";
  src: url("../fonts/jsans/static/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "jsans-light";
  src: url("../fonts/jsans/static/PlusJakartaSans-Light.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility btn-primary {
  @apply bg-indigo-950 font-jsans border-1 text-white border-indigo-950 hover:bg-transparent active:bg-transparent cursor-pointer;
}

@utility btn-blue {
  @apply bg-indigo-950 border-1 border-indigo-950 font-jsans mt-4 cursor-pointer active:bg-transparent active:text-indigo-950 hover:bg-transparent hover:text-indigo-950 text-white;
}

.hero-section {
  background-image: url("/heroimg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-tab {
  @apply py-3 px-4 flex-none bg-gray-200 font-jsans text-sm text-center cursor-pointer;
}

.category-tab-active {
  @apply py-3 px-4 flex-none bg-indigo-950 text-white font-jsans text-sm text-center cursor-pointer;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

@theme {
  --font-playfair: "playfair";
  --font-playfair-bold: "playfair-bold";
  --font-jsans: "jsans";
  --font-jsans-light: "jsans-light";
}
